{% load static %}

<!-- add three pictures next to each other with row - col -->

<!-- clicking them automatically adds rating to database AND colors card & movie background in applicable rating -->
<!-- 1: liked; 2: disliked; 3: interested -->

{% comment %} <div class="container">
    <div class="row">
        <div class = "col-4">
            <img src="{% static 'movieswyper/images/thumbs_up.png' %}" alt="Like" height="50">
        </div>
        <div class = "col-4">
            <img src="{% static 'movieswyper/images/eyes.png' %}" alt="Interested" height="50">
        </div>
        <div class = "col-4">
            <img src="{% static 'movieswyper/images/thumbs_down.png' %}" alt="Dislike" height="50">
        </div>
    </div>
</div> {% endcomment %}

<form action="{% url 'movieswyper:select_movies' %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class = "col-4">
                <input type="image" src="{% static 'movieswyper/images/thumbs_up.png' %}" alt="Like" height="50">
            </div>
            <div class = "col-4">
                <img src="{% static 'movieswyper/images/eyes.png' %}" alt="Interested" height="50">
            </div>
            <div class = "col-4">
                <img src="{% static 'movieswyper/images/thumbs_down.png' %}" alt="Dislike" height="50">
            </div>
        </div>
    </div>
</form>

<!-- Idea 1: Make the images buttons with background images -->
<!-- Idea 2: Make each image its own form that has a hidden input field which contains the movie id -->
<!-- Idea 3: Have the JavaScript handle the POST request -> would need to put movie-id into javascritp through data-attribute -->
