{% load static %}

<!-- add three pictures next to each other with row - col -->

<!-- clicking them automatically adds rating to database AND colors card & movie background in applicable rating -->
<!-- 1: liked; 2: disliked; 3: interested -->

<div class="container">
    <div class="row">
        <div class = "col-4">
            <input type="button" class="imgBtn likeBtn" alt="Like" data-rating="1" data-movie-id="{{ movie.id }}"></input>
        </div>
        <div class = "col-4">
            <input type="button" class="imgBtn interestedBtn" alt="Interested" data-rating="3" data-movie-id="{{ movie.id }}"></input>
        </div>
        <div class = "col-4">
            <input type="button" class="imgBtn dislikeBtn" alt="Dislike" data-rating="2" data-movie-id="{{ movie.id }}"></input>
        </div>
    </div>
</div>

<!-- Idea 1: Make the images buttons with background images -->
<!-- Idea 2: Make each image its own form that has a hidden input field which contains the movie id -->
<!-- Idea 3: Have the JavaScript handle the POST request -> would need to put movie-id into javascritp through data-attribute -->
