{% comment %} #TODO: Colour already rated movies accordingly {% endcomment %}

{% extends "movieswyper/base.html" %}
{% load static %}

{% block extra_css %} <link rel="stylesheet" href='{% static "movieswyper/css/select_movies.css" %}'> {% endblock %}
{% block page_title %} Rate your first movies! {% endblock %}

{% block custom_body_id %} id="page-select_movies" {% endblock %}

{% block content %}
    {% include 'movieswyper/messages.html' %}

    <h2 class="my-5 text-dark"> How do you rate the movies below? </h2>

    <div class="row">
        {% for movie in movies %}
        <div class="card-deck col-3">
            <div class="card mb-3">
                <img class="card-img-top" src="{{ movie.get_full_poster_url }}" alt="{{ movie.title }} poster">
                <div class="card-body">
                    <h5 class="card-title"> {{ movie.title }}</h5>
                    <p class="card-text"> {{ movie.overview | truncatewords:20 }}</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#movie-{{movie.title|slugify}}-modal">
                        <small class="text-light">
                            Movie Info
                        </small>
                    </button>
                </div>
                <div class="card-footer card-no-styling">
                    {% include 'movieswyper/rate_movie.html' with movie=movie %}
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="movie-{{movie.title|slugify}}-modal" tabindex="-1" role="dialog" aria-labelledby="movie-{{ movie.title|slugify }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="movie-{{ movie.title|slugify }}">{{ movie.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include 'movieswyper/movie_info_card.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block additional_js %} {% endblock %}
