{% extends "movieswyper/base.html" %}
{% load static %}

{% block extra_css %} {% endblock %}
{% block page_title %} Rate your first movies! {% endblock %}

{% block custom_body_id %} id="page-select_movies" {% endblock %}

{% block content %}
    {% include 'movieswyper/messages.html' %}

    <h2 class="my-5 text-dark"> How would you rate the movies below? </h2>
    
    <ul class="list-group">
    {% for movie in movies %}
        <li class="list-group-item"> {{ movie.title }}</li>
    {% endfor %}
    </ul>

{% endblock %}

{% block additional_js %} {% endblock %}
