// @use 'starter'; duplicated on select_movies.html currently. Only bring it in if you need the colours
$assetPath : "/static/movieswyper/images";

body#page-select_movies {
    .imgBtn {
        width: 50px;
        height: 50px;
        border: none;
    }

    .likeBtn {
        background-image: url(#{$assetPath}/thumbs_up.png);
        background-size: contain;
    }

    .dislikeBtn {
        background-image: url(#{$assetPath}/thumbs_down.png);
        background-size: contain;
    }

    .interestedBtn {
        background-image: url(#{$assetPath}/eyes.png);
        background-size: contain;
    }
}
